html {
    height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 20px;
  font-size: large;
}

.the-token {
    width: 100%;
    height: 70px;
    resize: none;
}

.the-result {
}

.date_future {
    color: red;
}
